<a href="https://colab.research.google.com/github/JonathanSosa-py/pandas_notebooks/blob/main/5_Updating%20Rows%20and%20Columns%20-%20Modifying%20Data%20Within%20DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
people = {
    'first': ['Corey', 'Jane', 'Joe'],
    'last': ['Schafer', 'Doe', 'Doe'],
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JoeDoe@email.com']
}

In [25]:
import pandas as pd

In [26]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2    Joe      Doe         JoeDoe@email.com

In [4]:
# UPDATING COLUMNS
# Check the columns
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [5]:
df.columns = ['first_name', 'last_name', 'email']
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2        Joe       Doe         JoeDoe@email.com

This way is almost never used because this is used when we are passing in different names for all of our columns. We'll usually need to change the names of a few different columns. One thing that is a lot more commmon is the need to change something specific about each column in our data frame, for example maybe our columns are all uppercase and we want them to be lowercase or viceversa or maybe our columns name have spaces and we want to replace the spaces in the column names with an underscore, so in this case we can use a list comprehension.

For example, let's say that we wanted to uppercase all of the column names here:

In [6]:
df.columns = [x.upper() for x in df.columns]
df

  FIRST_NAME LAST_NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2        Joe       Doe         JoeDoe@email.com

Another thing that you might want to do is remove spaces and replace them with underscore, specially if you like the dot notation to access a column name:

In [7]:
df.columns = df.columns.str.replace('_', ' ')
df

  FIRST NAME LAST NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2        Joe       Doe         JoeDoe@email.com

In [10]:
df.columns = df.columns.str.replace(' ', '_')
df

  FIRST_NAME LAST_NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2        Joe       Doe         JoeDoe@email.com

In [11]:
# Lowercase the columns
df.columns = [x.lower() for x in df.columns]
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2        Joe       Doe         JoeDoe@email.com

Everything that we have seen so far applies to everyone of our columns. But what if we only wanted to change some columns? Well in this case we can use the ***rename*** method and just pass a dictionary of the columns that we want to change. So if I want to set the first_name and last_name back to what they were before, then we could say:

In [15]:
df.rename(columns= {'first_name': 'first', 'last_name': 'last'}, inplace=True)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2    Joe      Doe         JoeDoe@email.com

## Updating rows.

In [22]:
# Updating a single value
# We could have said give me rows where the first name is equal to Joe and the
# the last name is equal to Doe if we wanted to do that as a conditional.

# So now in order to update this information there are a couple of ways that we 
# can do this, we can just pass in all of the new values for this row by passing
# a new list.
filt = (df['first'] == 'Joe') & (df['last'] == 'Doe')
# We keep Joe name the same and modify last name and email
df.loc[filt] = ['Joe', 'Smith', 'JoeSmith@email.com']
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2    Joe    Smith       JoeSmith@email.com

In [23]:
# what if we had a lot of columns but we wanted to change a couple of values:

filt = (df['first'] == 'Joe') & (df['last'] == 'Smith')
df.loc[filt, ['last', 'email']] = ['Doe', 'JoeDoe@email.com']
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2    Joe      Doe         JoeDoe@email.com

In [24]:
# Change a single value.
filt = (df['first'] == 'Joe') & (df['last'] == 'Doe')
df.loc[filt, 'last'] = 'Smith'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2    Joe    Smith         JoeDoe@email.com

In [25]:
# Using at method
filt = (df['first'] == 'Joe') & (df['last'] == 'Smith')
df.at[filt, 'last'] = 'Doe'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2    Joe      Doe         JoeDoe@email.com

One mistake that is very common and that is when people try to change a value without using one of these indexers (.loc | .at), so let me show you what this error or this warning would look like.


So let's say that we have a large Data Frame where we want to find this Joe Doe person and change their last name to Smith, so one way we could do this is to use a filter to grab that specific row so:

In [8]:
filt = df['email'] == 'JoeDoe@email.com'
df[filt]['last'] = "Smith"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

❗ So we can see a big pop-up here and if we look at this warning it says that we get this ***SettingWithCopyWarning*** so we got a warning and it didn't make that change when we do the assignment this way:

In [9]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2    Joe      Doe         JoeDoe@email.com

The reason that it didn't work here is a little complicated, essentially it's because the way that we're doing it here requires multiple operations in the background which can determine whether Pandas returns a view or a copy of our Data Frame so when our value isn't getting set it's because it's getting set on a temporary object that's just getting tossed out immediatly after, so Pandas does a lot better job of explaining this specific warning and they have a little link here down to the documentation directly within the warning itself so if you want to learn more about this then you can just clic on that warning (or go to this link) and it explains it in a lot more detail.

The moral of the story here is that when you're setting values just use **.loc** or the .at indexers that we've already seen and you shouldn't have any problems.

In [12]:
filt = df['email'] == 'JoeDoe@email.com'
df.loc[filt, 'last'] = 'Smith'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2    Joe    Smith         JoeDoe@email.com

### Updating multiple rows of data.

In [16]:
# Change all of the email addresses so that they are lowercase

df['email'] = df['email'].str.lower()
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2    Joe    Smith         joedoe@email.com

Maybe we want to do something a little bit more advanced so, there are several ways to do this and we'll go over all four popular methods in order to do this.

And a lot of people get the four methods confused so let's go over each one individually and try to explain them in detail and there's definitely a good reason why people get these confused because they're very similar in what they do so the four methods that I'm going to be talking about are:


*   apply
*   map
*   applymap
*   replace


## **apply on Series objects**

In [20]:
# apply
# Used for calling a function on our values and apply can work on either a DataFrame or a Series object and the behavior might be a little different than you expect for each of those different objects.
# First let's look at how apply works for a Series so when we use this on a Series it can apply a function to every to every value in our Series.

#See the length of all our email addresses.
df['email'].apply(len)

0    23
1    17
2    16
Name: email, dtype: int64

In [21]:
# Using apply to update values using a custom function.

def update_email(email):
    return email.upper()


df['email'].apply(update_email)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@EMAIL.COM
2           JOEDOE@EMAIL.COM
Name: email, dtype: object

In [22]:
# Doesn't save the changes
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2    Joe    Smith         joedoe@email.com

In [23]:
# Saving the changes

df['email'] = df['email'].apply(update_email)
df

   first     last                    email
0  Corey  Schafer  COREYMSCHAFER@GMAIL.COM
1   Jane      Doe        JANEDOE@EMAIL.COM
2    Joe    Smith         JOEDOE@EMAIL.COM

In [24]:
# Using lambda functions

df['email'] = df['email'].apply(lambda x: x.lower())
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2    Joe    Smith         joedoe@email.com

Now we're working with strings here but you can also use this with numbers where we can run any type of calculations that we want as well, so this is how apply  works on series objects.

## **apply on DataFrames**


Anytime we access a column that returns a Series. When we run apply on the Series it ran a function on all of the values in that series.

When we run apply on a DataFrame it runs a function on each row or column of that DataFrame.

In [4]:
# It give us the len of each value in that email Series 
df['email'].apply(len)

0    23
1    17
2    16
Name: email, dtype: int64

In [5]:
df.apply(len)

# It is not applying the length function to every value in the DataFrame. It's actually applying the length function to each series in the DataFrame specifically the rows.
# Basically what this is telling us is that our first name column has a length of 3 rows (Corey, Jane and Joe), it's telling us that last name has a length of 3 rows (Schafer, Doe and Doe) and email has 3 rows.
# Number of rows on each column.

first    3
last     3
email    3
dtype: int64

In [6]:
# We can get the same result for a specific series if we manually check the length of one of these.

len(df['email'])

3

In [7]:
# You can also have this apply to columns as well if you change the axis.

df.apply(len, axis= 1)

0    3
1    3
2    3
dtype: int64

### So basically we want to use functions that will make sense to be used on a series object when using apply on an entire DataFrame.

In [10]:
# Grab the minimun value from each column, well, Series objects have a min method so we could pass that in to apply and see the minimun value for each series. 
# Now in our sample Data Frame we have all string values so if we grab the minimum value from a Series of strings then it'll just return the first one in alphabetical order.

df.apply(pd.Series.min)

first                      Corey
last                         Doe
email    CoreyMSchafer@gmail.com
dtype: object

In [13]:
# We can use lambda functions with this as well but we just have to remember that THE LAMBDA WILL BE WORKING ON A SERIES OBJECT.

df.apply(lambda x: x.min(), axis=1)

0    Corey
1      Doe
2      Doe
dtype: object

So running apply on a Series, applies a function to every value in the series.

Running apply to a Data Frame, applies a function to every Series in the Data Frame.

Way to apply a function to every individual element in the DataFrame and that's what ***applymap*** is use for. Apply map only works on Data Frames, Series objects don't have the applymap method.

## applymap

In [14]:
df.applymap(len)

# It is now applying that length function to each individual value in our DataFrame

   first  last  email
0      5     7     23
1      4     3     17
2      3     3     16

In [15]:
df.applymap(str.upper)

   first     last                    email
0  COREY  SCHAFER  COREYMSCHAFER@GMAIL.COM
1   JANE      DOE        JANEDOE@EMAIL.COM
2    JOE      DOE         JOEDOE@EMAIL.COM

In [18]:
df.applymap(str.lower)

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@email.com
2    joe      doe         joedoe@email.com

## map

***map*** method only work on a Series so map is used for substituting each value in a Series with another value.

In [23]:
# We want to substitute a couple of our first names 
df['first'].map({'Corey': 'Chris', 'Jane': 'Mary'})

0    Chris
1     Mary
2      NaN
Name: first, dtype: object

We can see that that returns a series where those first names were substituted out. Now one thing that I do want to point out here is that the values that we didn't substitute were converted to in a NaN, that may or may not what we want.

Now in this example we likely wouldn't want to get rid of these other names so you might be thinking "Okay what if I wanted to keep Joe but just substitute these other names so if that's the case then instead of using map we can instead use the ***replace*** method:

In [27]:
df['first'].replace({'Corey': 'Chris', 'Jane': 'Mary'})

0    Chris
1     Mary
2      Joe
Name: first, dtype: object

In [ ]:
# To set the value (change the DataFrame)
df['first']= df['first'].replace({'Corey': 'Chris', 'Jane': 'Mary'})